*{
    font-size: 20px;
    /* font-weight: bold; */
}


h1{
    text-align: center;
    font-size: 30px;

}


#input_container{
    margin: auto;
    height: 400px;
    /* border: 1px red solid; */
    width: 50%;
    display: flex;
    justify-content: center;

}
form>input{
    margin-bottom: 20px;
    margin-top: 5px;
    height: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0px;
    font-size: 15px;
    width: 400px;
    border-radius: 5px;
    padding: 5px;

}

button{
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 30px;
} 